[user]
	name = krevindiou
	email = krevindiou@users.noreply.github.com
[color]
	ui = auto
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	st = status
	ci = commit
	co = checkout
	lg = log --all --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[status]
	showUntrackedFiles = all
[log]
	abbrevCommit = true
[diff]
	wordRegex = .
	mnemonicPrefix = true
	compactionHeuristic = true
[push]
	default = current
	followTags = true
[pull]
	rebase = preserve
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autostash=true
