[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/ManPageView"]
	path = vim/bundle/ManPageView
	url = https://github.com/vim-scripts/ManPageView.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/mexpolk/vim-taglist.git
[submodule "vim/bundle/easytags"]
	path = vim/bundle/easytags
	url = https://github.com/vim-scripts/easytags.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
